body {
  margin: 0;
}

#background {
  position: relative;
  height: 100%;
  background-color: gainsboro;
}

.project {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: move;
  text-decoration: none;
  color: inherit;
}

.project-image {}

.project-name {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 600;
}

#svg-element {
  position: absolute;
  top: 550px;
  left: 100px;
  margin: 20px;
  overflow: visible;
  width: 300px;
  height: auto;
}