:root {
  --ground-height: 100px;
}

.stick-on-bottom {
  position: absolute;
  bottom: 0;
}
.smooth-animation {
  transition-duration: 0.3s;
}

body {
  margin: 0;
}

#background {
  position: relative;
  display: flex;
  overflow: hidden;
  
  width: 100%;
  height: calc(100vh - var(--ground-height));
}

#tree-1 {
  left: 100px;
}
#tree-1 img {
  width: 200px;
}

#tree-2 {
  left: 800px;
}
#tree-2 img {
  width: 200px;
}

#tree-3 {
  left: 1500px;
}
#tree-3 img {
  width: 200px;
}

#GHM {
  left: 300px;
}
#GHM img {
  width: 1000px;
}

#character img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: var(--ground-height);

  width: 50px;
  margin: 0 auto;
}

#ground {
  width: 100%;
  height: var(--ground-height);

  background-color: saddlebrown;
}