:root {
  --content-width: 950px;
  --content-height: 650px;
  --ground-bottom: 40px;
  --globe-width: 470px;
  --globe-height: 470px;
}

html {
  width: 100%;
  height: 100%;
  font-family: 'Helvetica', 'Arial';
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

img {
  width: inherit;
  height: inherit;

  object-fit: contain;
}

.unmounted {
  display: none;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.color_black1 { filter: invert(180%) sepia(32%) saturate(0%) hue-rotate(476deg) brightness(25%) contrast(97%) drop-shadow(0px 1px 1px rgb(91, 91, 91)); }
.color_grey1 { filter: invert(80%) sepia(38%) saturate(0%) hue-rotate(203deg) brightness(169%) contrast(84%) drop-shadow(0px 1px 1px rgb(91, 91, 91)); }
.color_grey2 { filter: invert(85%) sepia(1%) saturate(57%) hue-rotate(209deg) brightness(188%) contrast(107%) opacity(0.9) drop-shadow(0px 1px 1px rgb(91, 91, 91)); }
.color_brown1 { filter: invert(12%) sepia(65%) saturate(5392%) hue-rotate(355deg) brightness(60%) contrast(116%) drop-shadow(0px 1px 1px rgb(91, 91, 91)); }
.color_blue1 { filter: invert(51%) sepia(52%) saturate(5229%) hue-rotate(181deg) brightness(99%) contrast(102%) drop-shadow(0px 1px 1px rgb(91, 91, 91)); }
.color_blue2 { filter: invert(63%) sepia(55%) saturate(2207%) hue-rotate(207deg) brightness(128%) contrast(100%) drop-shadow(0px 1px 1px rgb(91, 91, 91)); }
.color_blue3 { filter: invert(91%) sepia(71%) saturate(1570%) hue-rotate(209deg) brightness(125%) contrast(262%) drop-shadow(0px 1px 1px rgb(91, 91, 91)); }
.color_blue4 { filter: invert(14%) sepia(93%) saturate(3525%) hue-rotate(193deg) brightness(69%) contrast(105%) drop-shadow(0px 1px 1px rgb(91, 91, 91)); }
.color_green1 { filter: invert(0%) sepia(25.7%) saturate(752.4%) hue-rotate(96deg) brightness(107.2%) contrast(94%) opacity(0.1) drop-shadow(0px 1px 1px rgb(91, 91, 91)); }
.color_green2 { filter: invert(81%) sepia(52%) saturate(5189%) hue-rotate(131deg) brightness(159%) contrast(102%) drop-shadow(0px 1px 1px rgb(91, 91, 91)); }
.color_green3 { filter: invert(37%) sepia(23%) saturate(3172%) hue-rotate(133deg) brightness(81%) contrast(101%) drop-shadow(0px 1px 1px rgb(91, 91, 91)); }
.color_green4 { filter: invert(51%) sepia(90%) saturate(2703%) hue-rotate(91deg) brightness(119%) contrast(105%) drop-shadow(0px 1px 1px rgb(91, 91, 91)); }
.color_green5 { filter: invert(42%) sepia(97%) saturate(1344%) hue-rotate(104deg) brightness(80%) contrast(103%) drop-shadow(0px 1px 1px rgb(91, 91, 91)); }
.color_red1 { filter: invert(79%) sepia(79%) saturate(3854%) hue-rotate(327deg) brightness(96%) contrast(243%) drop-shadow(0px 1px 1px rgb(91, 91, 91)); }
.color_pink1 { filter: invert(68%) sepia(90%) saturate(102%) hue-rotate(292deg) brightness(143%) contrast(102%) drop-shadow(0px 1px 1px rgb(91, 91, 91)); }
.color_pink2 { filter: invert(81%) sepia(67%) saturate(831%) hue-rotate(315deg) brightness(145%) contrast(123%) drop-shadow(0px 1px 1px rgb(91, 91, 91)); }
.color_pink3 { filter: invert(13%) sepia(96%) saturate(6693%) hue-rotate(333deg) brightness(74%) contrast(107%) drop-shadow(0px 1px 1px rgb(91, 91, 91)); }
.color_yellow1 { filter: invert(86%) sepia(36%) saturate(5060%) hue-rotate(23deg) brightness(169%) contrast(103%) drop-shadow(0px 1px 1px rgb(91, 91, 91)); }

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: grey;
}

#frame {
  display: flex;
  position: relative;
  width: 2470px;
  height: 1380px;
  overflow: hidden;
  background-color: white;
}

#left_section {
  flex-shrink: 0;
  width: 700px;
}

#meta_block {
  position: absolute;
  top: 55px;
  left: 75px;

  font-size: 40px;
  letter-spacing: 1px;
}

#meta_row {
  display: flex;
  margin-top: 6px;
}

#meta_key {
  font-weight: bold;
}

#meta_value {
  margin-left: 10px;
}

@keyframes mascot_showing {
  0% {
    transform: translateY(1000px);
  }
  
  100% {
    transform: translateY(0px);
  }
}

.mascot_showing {
  animation-name: mascot_showing;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

#korea_mascot {
  position: absolute;
  top: 845px;
  left: -560px;
  width: 1050px;
}

#australia_mascot {
  position: absolute;
  top: 865px;
  left: -290px;
  width: 790px;
}

#ocean_mascot {
  position: absolute;
  top: 827px;
  left: -239px;
  width: 630px;
  rotate: 24deg;
}

#america_mascot {
  position: absolute;
  top: 746px;
  left: -196px;
  width: 530px;
  rotate: 24deg;
}

#peru_mascot_body {
  position: absolute;
  top: 827px;
  left: -339px;
  width: 740px;
  rotate: 14deg;
}

#peru_mascot_face {
  position: absolute;
  top: 1020px;
  left: 302px;
  width: 100px;
  rotate: 19deg;
}

#tanzania_mascot {
  position: absolute;
  top: 917px;
  left: -379px;
  width: 1020px;
  rotate: -7deg;
}

#denmark_mascot {
  position: absolute;
  top: 807px;
  left: -259px;
  width: 720px;
  rotate: 11deg;
}

#center_section {
  position: relative;
  width: 1170px;
}

#monitor {
  position: absolute;
  width: 1128px;
  top: 218px;
  left: -40px;
  pointer-events: none;
}

#content {
  display: flex;
  flex-shrink: 0;
  position: absolute;
  top: 282px;
  left: 47px;
  width: var(--content-width);
  height: var(--content-height);
  overflow: hidden;
  background-color: white;
}

#right_section {
  flex-shrink: 0;
  position: relative;
  width: 600px;
}

#hand {
  position: absolute;
  top: 1170px;
  right: -40px;
  width: 530px;
}

iframe#globe {
  position: absolute;
  top: 770px;
  left: 10px;
  flex-shrink: 0;
  width: var(--globe-width);
  height: var(--globe-height);
  border: none;
  background-color: white;
}

#right_arrow {
  position: absolute;
  right: 30px;
  bottom: 310px;
  width: 30px;
  height: 30px;
  transform: rotate(-45deg);
  border: solid #bdbdbd;
  border-width: 0 7px 7px 0;
  padding: 3px;
}

.country {
  flex-shrink: 0;
  overflow: hidden;
}

@keyframes kicked_out {
  0% {
    transform: translateX(0);
  }
  
  100% {
    transform: translateX(-950px);
  }
}

.kicked_out {
  animation-name: kicked_out;
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(0.65,0.05,0.36,1);
  animation-fill-mode: forwards;
}

@keyframes kicked_in {
  0% {
    transform: translateX(0);
  }
  
  100% {
    transform: translateX(-950px);
  }
}

.kicked_in {
  animation-name: kicked_in;
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(0.65,0.05,0.36,1);
  animation-fill-mode: backwards;
}

/* korea */
#korea {
  position: relative;
  width: 100%;
  height: 100%;
}

#korea #sun {
  position: absolute;
  top: 50px;
  right: 100px;

  width: 200px;
  height: 200px;
}

#korea #mountain1 {
  position: absolute;
  left: 40px;
  bottom: 0;
  transform: rotate(2deg);

  width: 600px;
  height: 600px;
}

#korea #mountain2 {
  position: absolute;
  right: 40px;
  bottom: -20px;

  width: 500px;
  height: 500px;
}

#korea #tiger {
  position: absolute;
  left: 344px;
  top: 130px;
  width: 100px;
  height: 100px;
  filter: drop-shadow(0px 2px 1px black);
}

#korea #tower {
  position: absolute;
  left: 630px;
  top: 140px;
  width: 150px;
  height: 200px;
  filter: drop-shadow(2px 1px 1px black);
}

#korea #landmark {
  position: absolute;
  left: 200px;
  bottom: 50px;
  width: 550px;
  height: 390px;
  filter: drop-shadow(2px 2px 1px black);
}

#korea #plant2 {
  position: absolute;
  right: 140px;
  bottom: 6px;
  width: 160px;
  height: 390px;
  filter: drop-shadow(2px 2px 2px black);
}

#korea #plant1 {
  position: absolute;
  left: 15px;
  bottom: 0;
  width: 280px;
  height: 420px;
  filter: drop-shadow(1px 2px 2px black);
}

#korea #ground {
  position: absolute;
  bottom: var(--ground-bottom);

  width: 100%
}

/* australia */
#australia {
  position: relative;
  width: 100%;
  height: 100%;
}

#australia #sun {
  position: absolute;
  top: 40px;
  left: 250px;

  width: 150px;
}

#australia #native {
  position: absolute;
  top: 20px;
  right: 190px;
  width: 300px;
  filter: drop-shadow(2px 1px 0px black);
}

#australia #landmark {
  position: absolute;
  bottom: 45px;
  width: 900px;
  filter: drop-shadow(1.5px 0px 1px black);
}

@keyframes kangaroo-jump {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

#australia #kangaroo {
  position: absolute;
  bottom: 72px;
  right: 120px;
  width: 200px;
  filter: drop-shadow(1px 1.7px 1px black);

  animation-name: kangaroo-jump;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#australia #ground {
  position: absolute;
  bottom: var(--ground-bottom);
  width: 100%;
  filter: drop-shadow(1.5px 1.5px 1px black);
}

#australia #plant {
  position: absolute;
  bottom: -5px;
  left: 50px;
  width: 460px;
  filter: drop-shadow(1px 2px 0px black);
}

@keyframes boomerang-fly {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(-130px, 60px);
  }
  20% {
    transform: translate(-240px, 120px);
  }
  30% {
    transform: translate(-300px, 130px);
  }
  40% {
    transform: translate(-370px, 60px);
  }
  50% {
    transform: translate(-450px, 0px);
  }
  60% {
    transform: translate(-370px, -60px);
  }
  70% {
    transform: translate(-300px, -120px);
  }
  80% {
    transform: translate(-240px, -60px);
  }
  90% {
    transform: translate(-130px, -30px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

#australia #boomerang {
  position: absolute;
  top: 200px;
  left: 480px;
  width: 100px;

  animation-name: boomerang-fly;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes boomerang-rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#australia #boomerang #rotate-wrapper {
  width: inherit;

  animation-name: boomerang-rotate;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* ocean */
#ocean {
  position: relative;
  width: 100%;
  height: 100%;
}

#ocean #sun {
  position: absolute;
  top: 50px;
  right: 130px;

  width: 160px;
}

#ocean #wave1 {
  position: absolute;
  bottom: 25px;

  width: 100%;
}

#ocean #boat {
  position: absolute;
  left: 40px;
  bottom: 35px;

  width: 420px;
}

#ocean #shark {
  position: absolute;
  right: 70px;
  bottom: 35px;

  width: 140px;
}

#ocean #bird {
  position: absolute;

  width: 140px;

  transition: transform 1s cubic-bezier(0.35, 1.19, 0.42, 1.52);
}

#ocean #wave2 {
  position: absolute;
  bottom: -5px;

  width: 100%;
}

/* america */
#america {
  position: relative;
  width: 100%;
  height: 100%;
}

#america #sky {
  position: absolute;
  top: 30px;
  left: 190px;
  width: 680px;
  filter: drop-shadow(-1px 3px 1px black);
}

#america #star1 {
  position: absolute;
  top: 105px;
  left: 395px;
  width: 45px;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(1px 2px 1px black);
}

#america #star2 {
  position: absolute;
  top: 130px;
  left: 480px;
  width: 45px;
  transform: rotate(25deg);
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(1px 2px 1px black);
}

#america #star3 {
  position: absolute;
  top: 190px;
  left: 560px;
  width: 45px;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(1px 2px 1px black);
}

#america #star4 {
  position: absolute;
  top: 120px;
  left: 620px;
  width: 45px;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(1px 2px 1px black);
}

#america #star5 {
  position: absolute;
  top: 130px;
  left: 720px;
  width: 45px;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(1px 2px 1px black);
}

#america #star1::before,
#america #star2::before,
#america #star3::before,
#america #star4::before,
#america #star5::before {
  position: absolute;
  left: -75%;

  display: block;
  width: 70%;
  height: 100%;

  content: '';
  transform: skewX(-25deg);
  background: linear-gradient(
    to right,
    rgb(0 17 177 / 50%) 0%,
    rgb(0 17 177 / 10%) 100%
  );
}

@keyframes star-shine {
  100% {
    left: 125%;
  }
}

#america #star1:hover::before,
#america #star2:hover::before,
#america #star3:hover::before,
#america #star4:hover::before,
#america #star5:hover::before {
  animation: star-shine 0.5s;
}

#america #landmark_base {
  position: absolute;
  bottom: 25px;
  left: 40px;
  width: 880px;
  filter: drop-shadow(2px 1px 0px black);
}

#america #face1 {
  position: absolute;
  bottom: 292px;
  left: 98px;
  width: 260px;
  filter: drop-shadow(2px 2px 2px black);
}

#america #mouse1 {
  position: absolute;
  bottom: 342px;
  left: 169px;
  width: 80px;
  filter: drop-shadow(2px 2px 2px black);
}

#america #face2 {
  position: absolute;
  bottom: 235px;
  left: 290px;
  width: 240px;
  filter: drop-shadow(2px 2px 2px black);
}

#america #mouse2 {
  position: absolute;
  bottom: 304px;
  left: 372px;
  width: 80px;
  filter: drop-shadow(2px 2px 2px black);
}

#america #face3 {
  position: absolute;
  bottom: 165px;
  left: 460px;
  width: 200px;
  filter: drop-shadow(2px 2px 2px black);
}

#america #face4 {
  position: absolute;
  bottom: 165px;
  left: 690px;
  width: 210px;
  filter: drop-shadow(2px 1.2px 1px black);
}

#america #mouse4 {
  position: absolute;
  bottom: 215px;
  left: 752px;
  width: 90px;
  filter: drop-shadow(2px 1px 2px black);
}

#america #plant {
  position: absolute;
  bottom: -5px;
  left: 40px;
  width: 95%;
  filter: drop-shadow(1px 1px 2px black);
  z-index: 1;
}

#america #ground {
  position: absolute;
  bottom: 13px;
  width: 100%;
}

/* peru */
#peru {
  position: relative;
  width: 100%;
  height: 100%;
}

#peru #moon {
  position: absolute;
  bottom: 374px;
  left: 54px;
  width: 200px;
  filter: drop-shadow(1px 1px 1px black);
}

#peru #mountain_1_01 {
  position: absolute;
  bottom: 214px;
  left: 380px;

  width: 570px;
}

#peru #mountain_1_02 {
  position: absolute;
  bottom: 250px;
  left: 421px;

  width: 570px;
}

#peru #mountain_1_03 {
  position: absolute;
  bottom: 215px;
  left: 436px;

  width: 570px;
}

#peru #mountain_1_04 {
  position: absolute;
  bottom: 199px;
  left: 427px;

  width: 570px;
}

#peru #mountain_1_05 {
  position: absolute;
  bottom: 176px;
  left: 435px;

  width: 570px;
}

#peru #mountain_1_06 {
  position: absolute;
  bottom: 162px;
  left: 448px;

  width: 570px;
}

#peru #mountain_1_07 {
  position: absolute;
  bottom: 146px;
  left: 460px;

  width: 570px;
}

#peru #mountain_1_08 {
  position: absolute;
  bottom: 137px;
  left: 471px;

  width: 570px;
}

#peru #mountain_1_09 {
  position: absolute;
  bottom: 117px;
  left: 481px;

  width: 570px;
}

#peru #mountain_1_10 {
  position: absolute;
  bottom: 136px;
  left: 526px;

  width: 458px;
}

#peru #mountain_1_11 {
  position: absolute;
  bottom: 127px;
  left: 538px;

  width: 438px;
}

#peru #mountain_1_12 {
  position: absolute;
  bottom: 115px;
  left: 547px;

  width: 418px;
}

#peru #mountain_1_13 {
  position: absolute;
  bottom: 123px;
  left: 557px;

  width: 403px;
}

#peru #mountain_1_14 {
  position: absolute;
  bottom: 117px;
  left: 573px;

  width: 403px;
}

#peru #mountain_1_15 {
  position: absolute;
  bottom: 116px;
  left: 584px;

  width: 378px;
}

#peru #mountain_1_16 {
  position: absolute;
  bottom: 169px;
  left: 622px;

  width: 104px;
}

#peru #mountain_3_01 {
  position: absolute;
  bottom: 109px;

  width: 950px;
}

#peru #mountain_3_02 {
  position: absolute;
  bottom: 101px;

  width: 950px;
}

#peru #mountain_3_03 {
  position: absolute;
  bottom: 87px;

  width: 950px;
}

#peru #mountain_3_04 {
  position: absolute;
  bottom: 84px;

  width: 950px;
}

#peru #mountain_3_05 {
  position: absolute;
  bottom: 63px;

  width: 950px;
}

#peru #mountain_3_06 {
  position: absolute;
  bottom: 48px;

  width: 950px;
}

#peru #mountain_3_07 {
  position: absolute;
  bottom: 45px;

  width: 950px;
}

#peru #mountain_3_08 {
  position: absolute;
  bottom: 31px;

  width: 950px;
}

#peru #mountain_3_09 {
  position: absolute;
  bottom: 21px;

  width: 954px;
}

#peru #mountain_3_10 {
  position: absolute;
  bottom: 31px;
  left: 3px;

  width: 932px;
}

#peru #mountain_3_11 {
  position: absolute;
  bottom: 34px;

  width: 902px;
}

#peru #mountain_3_12 {
  position: absolute;
  bottom: 31px;

  width: 850px;
}

#peru #mountain_3_13 {
  position: absolute;
  bottom: 34px;
  left: 6px;

  width: 753px;
}

#peru #mountain_3_14 {
  position: absolute;
  bottom: 35px;
  left: 47px;

  width: 541px;
}

#peru #mountain_3_15 {
  position: absolute;
  bottom: 31px;
  left: 72px;

  width: 478px;
}

#peru #mountain_3_16 {
  position: absolute;
  bottom: 36px;
  left: 114px;

  width: 398px;
}

#peru #mountain_3_17 {
  position: absolute;
  bottom: 36px;
  left: 114px;

  width: 398px;
}

#peru #ground {
  position: absolute;
  bottom: 30px;

  width: 950px;
}

#peru #mountain_2_12 {
  position: absolute;
  bottom: -5px;
  left: 94px;

  width: 555px;
}

#peru #mountain_2_13 {
  position: absolute;
  bottom: -5px;
  left: 107px;

  width: 510px;
}

#peru #mountain_2_14 {
  position: absolute;
  bottom: -5px;
  left: 123px;

  width: 470px;
}

#peru #mountain_2_15 {
  position: absolute;
  bottom: -5px;
  left: 137px;

  width: 425px;
}

#peru #mountain_2_16 {
  position: absolute;
  bottom: -5px;
  left: 147px;

  width: 407px;
}

#peru #mountain_2_17 {
  position: absolute;
  bottom: -5px;
  left: 162px;

  width: 367px;
}

#peru #mountain_2_18 {
  position: absolute;
  bottom: -5px;
  left: 173px;

  width: 317px;
}

#peru #mountain_2_19 {
  position: absolute;
  bottom: -5px;
  left: 187px;

  width: 261px;
}

#peru #mountain_2_20 {
  position: absolute;
  bottom: -5px;
  left: 201px;

  width: 209px;
}

#peru #mountain_2_21 {
  position: absolute;
  bottom: -5px;
  left: 224px;

  width: 162px;
}

#peru #mountain_2_22 {
  position: absolute;
  bottom: -5px;
  left: 231px;

  width: 124px;
}

#peru #mountain_2_23 {
  position: absolute;
  bottom: -5px;
  left: 250px;

  width: 76px;
}

#peru #mountain_2_24 {
  position: absolute;
  bottom: -5px;
  left: 259px;

  width: 48px;
}

/* tanzania */
#tanzania {
  position: relative;
  width: 100%;
  height: 100%;
}
#tanzania #mountain {
  position: absolute;
  bottom: 37px;
  width: var(--content-width);
  filter: drop-shadow(2px 1px 2px black);
}

#tanzania #sun {
  position: absolute;
  bottom: 326px;
  left: 126px;
  width: 250px;
  filter: drop-shadow(2px -1px 1px black);
}

@keyframes leopard-pattern-launch {
  0% {
    bottom: 487px;
  }

  100% {
    bottom: 655px;
  }
}

.leopard-animation {
  animation-name: leopard-pattern-launch;
  animation-duration: 0.15s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

#tanzania #leopard_body {
  position: absolute;
  bottom: 486px;
  left: 301px;
  width: 110px;
  filter: drop-shadow(0.5px 1px 1px black);
}

#tanzania #leopard_pattern {
  position: absolute;
  bottom: 487px;
  left: 304px;

  width: 105px;
}

#tanzania #leopard_head {
  position: absolute;
  bottom: 543px;
  left: 398px;
  width: 24px;
  filter: drop-shadow(0.5px 1px 1px black);
}

#tanzania #zebra {
  position: absolute;
  bottom: var(--ground-bottom);
  left: 70px;
  width: 344px;
  filter: drop-shadow(2px 2px 1px black);
}

#tanzania #elephant_body {
  position: absolute;
  bottom: var(--ground-bottom);
  left: 513px;
  width: 374px;
  filter: drop-shadow(1px 1px 1px black);
}

#tanzania #elephant_head {
  position: absolute;
  bottom: 40px;
  left: 463px;
  width: 194px;
  filter: drop-shadow(1px 2px 1px black);
}

@keyframes elephant-head-rotate {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
}

#tanzania #elephant_head:hover {
  animation: elephant-head-rotate 1s linear infinite;
}

#tanzania #ground {
  position: absolute;
  bottom: 31px;

  width: var(--content-width);
}

#tanzania #grass {
  position: absolute;
  bottom: 36px;
  left: 33px;

  width: 530px;
}

@keyframes giraffe-stretch {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(3);
  }
}

.giraffe-stretch {
  animation-name: giraffe-stretch;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

#tanzania #giraffe {
  position: absolute;
  bottom: -15px;
  left: 590px;
  width: 360px;
  transform-origin: bottom;
  filter: drop-shadow(2px 2px 1px black);
}

@keyframes giraffe-head-down {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-400px);
  }
}

.giraffe-head-down {
  animation-name: giraffe-head-down;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

#tanzania #giraffe_head {
  position: absolute;
  bottom: 670px;
  left: 60px;

  width: 175px;
  rotate: 180deg;
}

@keyframes ash-1-falling {
  0% {
    bottom: 1195px;
  }

  100% {
    bottom: -15px;
  }
}

.ash-1-falling {
  animation-name: ash-1-falling;
  animation-duration: 2.4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#tanzania #ash_1 {
  position: absolute;
  bottom: 595px;
  left: 75px;

  width: 25px;
}

@keyframes ash-2-falling {
  0% {
    bottom: 1166px;
  }

  100% {
    bottom: -15px;
  }
}

.ash-2-falling {
  animation-name: ash-2-falling;
  animation-duration: 3.1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#tanzania #ash_2 {
  position: absolute;
  bottom: 566px;
  left: 865px;

  width: 25px;
}

@keyframes ash-3-falling {
  0% {
    bottom: 1126px;
  }

  100% {
    bottom: -15px;
  }
}

.ash-3-falling {
  animation-name: ash-3-falling;
  animation-duration: 4.6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#tanzania #ash_3 {
  position: absolute;
  bottom: 526px;
  left: 555px;

  width: 25px;
}

@keyframes ash-4-falling {
  0% {
    bottom: 1047px;
  }

  100% {
    bottom: -15px;
  }
}

.ash-4-falling {
  animation-name: ash-4-falling;
  animation-duration: 2.1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#tanzania #ash_4 {
  position: absolute;
  bottom: 447px;
  left: 465px;

  width: 25px;
}

@keyframes ash-5-falling {
  0% {
    bottom: 1007px;
  }

  100% {
    bottom: -15px;
  }
}

.ash-5-falling {
  animation-name: ash-5-falling;
  animation-duration: 3.9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#tanzania #ash_5 {
  position: absolute;
  bottom: 407px;
  left: 285px;

  width: 25px;
}

@keyframes ash-6-falling {
  0% {
    bottom: 877px;
  }

  100% {
    bottom: -15px;
  }
}

.ash-6-falling {
  animation-name: ash-6-falling;
  animation-duration: 2.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#tanzania #ash_6 {
  position: absolute;
  bottom: 277px;
  left: 205px;

  width: 25px;
}

@keyframes ash-7-falling {
  0% {
    bottom: 787px;
  }

  100% {
    bottom: -15px;
  }
}

.ash-7-falling {
  animation-name: ash-7-falling;
  animation-duration: 2.4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#tanzania #ash_7 {
  position: absolute;
  bottom: 187px;
  left: 835px;

  width: 25px;
}

@keyframes ash-8-falling {
  0% {
    bottom: 867px;
  }

  100% {
    bottom: -15px;
  }
}

.ash-8-falling {
  animation-name: ash-8-falling;
  animation-duration: 3.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#tanzania #ash_8 {
  position: absolute;
  bottom: 267px;
  left: 615px;

  width: 25px;
}

@keyframes ash-9-falling {
  0% {
    bottom: 757px;
  }

  100% {
    bottom: -15px;
  }
}

.ash-9-falling {
  animation-name: ash-9-falling;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#tanzania #ash_9 {
  position: absolute;
  bottom: 157px;
  left: 118px;

  width: 25px;
}

@keyframes ash-10-falling {
  0% {
    bottom: 687px;
  }

  100% {
    bottom: -15px;
  }
}

.ash-10-falling {
  animation-name: ash-10-falling;
  animation-duration: 2.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#tanzania #ash_10 {
  position: absolute;
  bottom: 87px;
  left: 389px;

  width: 25px;
}

@keyframes ash-11-falling {
  0% {
    bottom: 987px;
  }

  100% {
    bottom: -15px;
  }
}

.ash-11-falling {
  animation-name: ash-11-falling;
  animation-duration: 3.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#tanzania #ash_11 {
  position: absolute;
  bottom: 387px;
  left: 759px;

  width: 25px;
}

@keyframes ash-12-falling {
  0% {
    bottom: 837px;
  }

  100% {
    bottom: -15px;
  }
}

.ash-12-falling {
  animation-name: ash-12-falling;
  animation-duration: 4.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#tanzania #ash_12 {
  position: absolute;
  bottom: 237px;
  left: 429px;

  width: 25px;
}

@keyframes ash-13-falling {
  0% {
    bottom: 957px;
  }

  100% {
    bottom: -15px;
  }
}

.ash-13-falling {
  animation-name: ash-13-falling;
  animation-duration: 2.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#tanzania #ash_13 {
  position: absolute;
  bottom: 357px;
  left: 52px;

  width: 25px;
}

@keyframes ash-14-falling {
  0% {
    bottom: 1137px;
  }

  100% {
    bottom: -15px;
  }
}

.ash-14-falling {
  animation-name: ash-14-falling;
  animation-duration: 3.1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#tanzania #ash_14 {
  position: absolute;
  bottom: 537px;
  left: 341px;

  width: 25px;
}

@keyframes ash-15-falling {
  0% {
    bottom: 740px;
  }

  100% {
    bottom: -15px;
  }
}

.ash-15-falling {
  animation-name: ash-15-falling;
  animation-duration: 4.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#tanzania #ash_15 {
  position: absolute;
  bottom: 140px;
  left: 661px;

  width: 25px;
}

/* denmark */
#denmark #sun {
  position: absolute;
  top: 51px;
  left: 101px;
  width: 235px;
}

#denmark #building_1 {
  position: absolute;
  top: 283px;
  left: 41px;
  width: 195px;
}

#denmark #closed_window_1_1 {
  position: absolute;
  top: 437px;
  left: 61px;
  width: 37px;
}

#denmark #closed_window_1_2 {
  position: absolute;
  top: 437px;
  left: 118px;
  width: 37px;
}

#denmark #closed_window_1_3 {
  position: absolute;
  top: 437px;
  left: 177px;
  width: 37px;
}

#denmark #closed_window_1_4 {
  position: absolute;
  top: 501px;
  left: 118px;
  width: 37px;
}

#denmark #closed_window_1_5 {
  position: absolute;
  top: 501px;
  left: 177px;
  width: 37px;
}

#denmark #closed_window_1_6 {
  position: absolute;
  top: 501px;
  left: 61px;
  width: 37px;
}

#denmark #closed_door_1 {
  position: absolute;
  top: 564px;
  left: 120px;
  width: 35px;
}

#denmark #building_2 {
  position: absolute;
  top: 219px;
  left: 227px;
  width: 210px;
}

#denmark #closed_window_2_1 {
  position: absolute;
  top: 370px;
  left: 251px;
  width: 40px;
}

#denmark #closed_window_2_2 {
  position: absolute;
  top: 370px;
  left: 309px;
  width: 40px;
}

#denmark #closed_window_2_3 {
  position: absolute;
  top: 370px;
  left: 369px;
  width: 40px;
}

#denmark #closed_window_2_4 {
  position: absolute;
  top: 444px;
  left: 251px;
  width: 40px;
}

#denmark #closed_window_2_5 {
  position: absolute;
  top: 444px;
  left: 309px;
  width: 40px;
}

#denmark #closed_window_2_6 {
  position: absolute;
  top: 444px;
  left: 369px;
  width: 40px;
}

#denmark #closed_window_2_7 {
  position: absolute;
  top: 517px;
  left: 251px;
  width: 40px;
}

#denmark #closed_window_2_8 {
  position: absolute;
  top: 517px;
  left: 309px;
  width: 40px;
}

#denmark #closed_window_2_9 {
  position: absolute;
  top: 517px;
  left: 369px;
  width: 40px;
}

#denmark #building_4 {
  position: absolute;
  top: 206px;
  left: 707px;
  width: 213px;
}

#denmark #closed_window_4_1 {
  position: absolute;
  top: 360px;
  left: 720px;
  width: 35px;
}

#denmark #closed_window_4_2 {
  position: absolute;
  top: 360px;
  left: 766px;
  width: 35px;
}

#denmark #closed_window_4_3 {
  position: absolute;
  top: 360px;
  left: 814px;
  width: 35px;
}

#denmark #closed_window_4_4 {
  position: absolute;
  top: 360px;
  left: 862px;
  width: 35px;
}

#denmark #closed_window_4_5 {
  position: absolute;
  top: 420px;
  left: 720px;
  width: 35px;
}

#denmark #closed_window_4_6 {
  position: absolute;
  top: 420px;
  left: 766px;
  width: 35px;
}

#denmark #closed_window_4_7 {
  position: absolute;
  top: 420px;
  left: 814px;
  width: 35px;
}

#denmark #closed_window_4_8 {
  position: absolute;
  top: 420px;
  left: 862px;
  width: 35px;
}

#denmark #closed_window_4_9 {
  position: absolute;
  top: 482px;
  left: 720px;
  width: 35px;
}

#denmark #closed_window_4_10 {
  position: absolute;
  top: 482px;
  left: 766px;
  width: 35px;
}

#denmark #closed_window_4_11 {
  position: absolute;
  top: 482px;
  left: 814px;
  width: 35px;
}

#denmark #closed_window_4_12 {
  position: absolute;
  top: 482px;
  left: 862px;
  width: 35px;
}

#denmark #closed_window_4_13 {
  position: absolute;
  top: 545px;
  left: 720px;
  width: 35px;
}

#denmark #closed_window_4_14 {
  position: absolute;
  top: 545px;
  left: 766px;
  width: 35px;
}

#denmark #closed_window_4_15 {
  position: absolute;
  top: 545px;
  left: 814px;
  width: 35px;
}

#denmark #closed_window_4_16 {
  position: absolute;
  top: 545px;
  left: 862px;
  width: 35px;
}

#denmark #building_3 {
  position: absolute;
  top: 196px;
  left: 432px;
  width: 280px;
}

#denmark #closed_window_3_1 {
  position: absolute;
  top: 348px;
  left: 466px;
  width: 36px;
}

#denmark #closed_window_3_2 {
  position: absolute;
  top: 348px;
  left: 525px;
  width: 36px;
}

#denmark #closed_window_3_3 {
  position: absolute;
  top: 348px;
  left: 583px;
  width: 36px;
}

#denmark #closed_window_3_4 {
  position: absolute;
  top: 348px;
  left: 639px;
  width: 36px;
}

#denmark #closed_window_3_5 {
  position: absolute;
  top: 411px;
  left: 466px;
  width: 36px;
}

#denmark #closed_window_3_6 {
  position: absolute;
  top: 411px;
  left: 525px;
  width: 36px;
}

#denmark #closed_window_3_7 {
  position: absolute;
  top: 411px;
  left: 583px;
  width: 36px;
}

#denmark #closed_window_3_8 {
  position: absolute;
  top: 411px;
  left: 639px;
  width: 36px;
}

#denmark #closed_window_3_9 {
  position: absolute;
  top: 472px;
  left: 466px;
  width: 36px;
}

#denmark #closed_window_3_10 {
  position: absolute;
  top: 472px;
  left: 525px;
  width: 36px;
}

#denmark #closed_window_3_11 {
  position: absolute;
  top: 472px;
  left: 583px;
  width: 36px;
}

#denmark #closed_window_3_12 {
  position: absolute;
  top: 472px;
  left: 639px;
  width: 36px;
}

#denmark #closed_window_3_13 {
  position: absolute;
  top: 537px;
  left: 466px;
  width: 36px;
}

#denmark #closed_window_3_14 {
  position: absolute;
  top: 537px;
  left: 525px;
  width: 36px;
}

#denmark #closed_window_3_15 {
  position: absolute;
  top: 537px;
  left: 583px;
  width: 36px;
}

#denmark #closed_window_3_16 {
  position: absolute;
  top: 537px;
  left: 639px;
  width: 36px;
}

#denmark #water {
  position: absolute;
  top: 602px;
  width: 950px;
}

#denmark #ground {
  position: absolute;
  top: 602px;
  width: 950px;
}

#denmark #boat {
  position: absolute;
  top: 524px;
  left: 570px;
  width: 380px;
}

/* common */
#character {
  position: absolute;
  top: 403px;
  left: 400px;
  width: 220px;
}