body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#frame {
    position: relative;
}

#hair {
    position: absolute;
    width: 460px;
    top: -50px;
    left: -30px;
    filter: drop-shadow( 1px 1px 2px black);
}

#face {
    width: 400px;
    filter: drop-shadow( 1px 1px 2px black);
}

#nose {
    position: absolute;
    top: 250px;
    left: 179px;
    filter: drop-shadow( 1px 1px 2px black);
}

#mouse {
    position: absolute;
    top: 400px;
    left: 138px;
    filter: drop-shadow( 1px 1px 2px black);
}

#left_ear {
    position: absolute;
    top: 220px;
    left: -35px;
    filter: drop-shadow( 1px 1px 1px black);
}

#right_ear {
    position: absolute;
    top: 220px;
    left: 370px;
    filter: drop-shadow( 0px 1px 1px black);
}

#left_eye {
    position: absolute;
    top: 210px;
    left: 61px;
    filter: drop-shadow( 1px 2px 2px rgba(0, 0, 0, .7));
}

#right_eye {
    position: absolute;
    top: 210px;
    left: 238px;
    filter: drop-shadow( 1px 2px 2px rgba(0, 0, 0, .7));
}

#left_pupil {
    position: absolute;
    top: 240px;
    left: 88px;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 153, 255);
    border-radius: 100%;
    filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .7));
}

#right_pupil {
    position: absolute;
    top: 240px;
    left: 268px;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 153, 255);
    border-radius: 100%;
    filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .7));
}

#left_eye_closed {
    display: none;
    position: absolute;
    left: 67px;
    top: 255px;
    filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .7));
}

#right_eye_closed {
    display: none;
    position: absolute;
    left: 243px;
    top: 255px;
    filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .7));
}

#left_tear {
    position: absolute;
    width: 50px;
    top: 275px;
    left: 88px;
    display: none;
    filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .7));
}

#right_tear {
    position: absolute;
    width: 50px;
    top: 275px;
    left: 265px;
    display: none;
    filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .7));
}

@keyframes teardrop {
    0% { 
        transform: translateY(0px);
    }
    100% {
        transform: translateY(800px);
    }
}

.teardrop {
    animation-name: teardrop;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}